 # Replace X... with custom values

[core]
        excludesfile = /Users/XXX/.gitignore_global
[difftool "sourcetree"]
        cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
        trustExitCode = true
[user]
        name = XXX
        email = XXX
[commit]
        template = /Users/XXX/.stCommitMsg
[credential]
        helper = osxkeychain
[alias]
        lg = log --all --decorate --oneline --graph
        co = checkout
        st = status
        ci = commit     
[color]
        ui = true
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22
[color "diff"]
        meta = yellow
        frag = magenta bold
        commit = yellow bold
        old = red bold
        new = green bold
        whitespace = red reverse

