 # Replace X... with custom values

[core]
        excludesfile = /Users/XXX/.gitignore_global   
[diff]
  tool = vscode
[merge]
  tool = vscode
[difftool]
  prompt = false
[mergetool]
  prompt = false
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
  prompt = false
[mergetool "vscode"]
  cmd = code --wait $MERGED
  prompt = false
[user]
        name = XXX
        email = XXX        
[commit]
        template = /Users/XXX/.stCommitMsg   
[credential]
        helper = osxkeychain
[color]
        ui = true
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22
[color "diff"]
        meta = yellow
        frag = magenta bold
        commit = yellow bold
        old = red bold
        new = green bold
        whitespace = red reverse
[alias]
        lg = log --all --decorate --oneline --graph
        co = checkout
        st = status
        ci = commit

# More advances aliases
# `a`= add, `ci` = commit, `p` = push, `pr` = push & pull request
# so `acipr` is "add, commit, push and pull-request"
# it will also open the PR in the browser and copy the PR URL to the clipboard
# and you can do `git pr "message"`
#
# [alias]      
# aci = "!f() { git add -A && git commit -m \"$@\"; }; f"
# cip = "!f() { git commit -m \"$@\" && git push; }; f"
# acip = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
# cipr = "!f() { git cip \"$@\" && git pr \"$@\"; }; f"
# acipr = "!f() { git acip \"$@\" && git pr \"$@\"; }; f"
# pr = "!f() { url=$(hub pull-request -m \"$@\") && echo $url|pbcopy&& open $url; }; f"
