 # Replace X... with custom values

[core]
        excludesfile = /Users/XXX/.gitignore_global   
[diff]
  tool = vscode
[merge]
  tool = vscode
[difftool]
  prompt = false
[mergetool]
  prompt = false
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
  prompt = false
[mergetool "vscode"]
  cmd = code --wait $MERGED
  prompt = false
[user]
        name = XXX
        email = XXX        
[commit]
        template = /Users/XXX/.stCommitMsg   
[credential]
        helper = osxkeychain
[color]
        ui = true
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22
[color "diff"]
        meta = yellow
        frag = magenta bold
        commit = yellow bold
        old = red bold
        new = green bold
        whitespace = red reverse
[alias]
        git = hub
        lg = log --all --decorate --oneline --graph
        co = checkout
        st = status
        ci = commit  
